.QPushButton#navbarIconProfile{
	margin-left: 20px;
	margin-right: 20px;
	background-color: #1EB0BB;
	padding: 20px;
	background-image: url('icons/profile.png');
	background-repeat: no-repeat;
	background-position: center;
	border: 4px solid #1EB0BB;
	border-radius: 32px;
}

.QPushButton#navbarIconAccount:hover{
	background-color: #78D2FF;
	border-color: #78D2FF;
}

.QPushButton#navbarIcon{
	margin-left: 20px;
	margin-right: 20px;
	background-color: #1EB0BB;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	border: 4px solid #1EB0BB;
	border-radius: 32px;
}
