.QPushButton#signInBtn{
	background-color: #68B2A0;
	color: white;
	border-style: solid;
	border-color: #68B2A0;
	border-width: 3px;
	border-radius: 10px;
}

.QPushButton#joinBtn{
	color: #1F2F98;
	text-align: left;
	border: none;
}

.QLabel#errorMensage{
	font: 10px;
	color: red;
}

.QPushButton#showPasswordBtn{
	border-bottom: 2px solid #68B2A0;
	border-bottom-right-radius: 3px;
	margin-top: 3px;
}

.QLineEdit#usernameInput{
	border-bottom: 2px solid #68B2A0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 3px;
	background-color: #efefef;
}

.QLineEdit#passwordInput{
	border-bottom: 2px solid #68B2A0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 3px;
	border-bottom-right-radius: none;
	background-color: #efefef;
}
