QPushButton#signInBtn{
	background-color: #68B2A0;
	color: white;
	border-style: solid;
	border-color: #68B2A0;
	border-width: 3px;
	border-radius: 10px;
}

QPushButton#joinBtn{
	color: #1F2F98;
	text-align: left;
	border: none;
}

QLabel#errorMensage{
	font: 10px;
	color: red;
}

QPushButton#showPasswordBtn{
	border: none;
}
